@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
*{
	padding: 0;
	margin: 0;
}
.wrapper{
	background: url(begron.jpg) no-repeat;
	background-size: cover;
	height: 100vh;
}
.navbar{
	position: fixed;
	height: 100px;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,20,0.4);
	box-shadow: 7px 7px 10px black;
}

.navbar ul{
	float: right;
	margin-right: 20px;
}
.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 80px;
}
.navbar ul li a{
	font-size: 30px;
	font-family: 'Comfortaa', cursive;
	color: white;
	padding: 6px 15px;
	text-decoration: none;
	transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	background: #fffff4aa;
	border-radius: 30px;
}
.wrapper .center{
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translate(-50%, -50%);
	font-family: 'Comfortaa', cursive;
	user-select: none;
}
.center h1{
	color: white;
	font-size: 70px;
 text-shadow: 5px 7px 12px black;
	width: 900px;
	font-weight: bold;
	text-align: center;
}
.center p{
	color: white;
	font-size: 30px;
	font-weight: bold;
	text-shadow: 5px 7px 8px black;
	margin-top: 10px;
	width: 885px;
	text-align: center;
}
.center .buttons{
	margin: 35px 250px;
}
.buttons button{
	height: 75px;
	width: 400px;
	font-size: 35px;
	font-weight: 800;
	font-family: 'Comfortaa', cursive;
	color: white;
	background: none;
	outline: none;
	box-shadow: 14px 9px 12px black;
	cursor: pointer;
	border: 3px solid #ff0088;
	border-radius: 30px;
	transition: .4s;
}
.buttons .btn0{
				margin-top: 15px;
}
.buttons .btn1{
	margin-top: 25px;
}
.buttons .btn2{
	margin-top: 25px;
}
.buttons .btn3{
	margin-top: 25px;
}
.buttons .btn4{
	margin-top: 25px;
}
.buttons button:hover{
	background: #cc0000;
}
.bawah{
	font-size: 25px;
	margin-top: 120px;
	text-align-last: right;
}
